#keyboardInput-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
}

#keyboardInput-container:hover {
  background: rgba(0, 0, 0, 0.5);
}

#keyboardInput {
  opacity: 0;
  width: 20vw;
  height: 19vh;
  border-radius: 1.5em;
  background: #1e1e1e;
  box-shadow: 0 0 20px #1e1e1e;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;
  transition: 0.5s;
}

#keyboardInput-container:hover #keyboardInput {
  opacity: 1;
}

#keyboardInput-informations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboardInput-Title {
  color: white;
  font-family: "Lexend Regular";
  font-size: 125%;
}

#keyboardInput-Subtitle {
  color: rgba(255, 255, 255, 0.25);
  font-family: "Lexend Light";
  font-size: 75%;
}

#keyboardInput-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#keyboardInput-input {
  outline: none;
  border: none;
  background: #121212;
  width: 90%;
  height: 4vh;
  border-radius: 100em;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  font-family: "Lexend Light";
  box-shadow: 0 0 0px #121212;
  transition: 0.5s;
}

#keyboardInput-input:focus {
  box-shadow: 0 0 15px #121212;
}

#keyboardInput-buttons {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#keyboardInput-buttonprimary {
  width: 45%;
  font-family: "Lexend Light";
  color: white;
  min-height: 4vh;
  max-height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background: linear-gradient(#faad2c, #9b670e);
  box-shadow: 0px 0px 0px #9b670e;
  padding-right: 1.5em;
  padding-left: 1.5em;
  transition: 0.5s;
  border: none;
}

#keyboardInput-buttonsecondary {
  width: 45%;
  border: none;
  font-family: "Lexend Light";
  color: #faad2c;
  min-height: 4vh;
  max-height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background: #121212;
  outline: solid 0.25em #faad2c;
  box-shadow: 0px 0px 0px #faad2c;
  padding-right: 1.5em;
  padding-left: 1.5em;
  transition: 0.5s;
}
