@font-face {
  font-family: "LemonMilk Regular";
  font-style: normal;
  font-weight: 500;
  src: local("Lemon Milk Regular"),
    url("./assets/fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
  font-family: "LemonMilk Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Lemon Milk Medium"),
    url("./assets/fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
  font-family: "LemonMilk Light";
  font-style: normal;
  font-weight: 500;
  src: local("Lemon Milk Light"),
    url("./assets/fonts/LEMONMILK-Light.otf") format("opentype");
}

@font-face {
  font-family: "Lexend Light";
  font-style: normal;
  font-weight: 500;
  src: local("Lexend Light"),
    url("./assets/fonts/Lexend-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Lexend Regular";
  font-style: normal;
  font-weight: 500;
  src: local("Lexend Regular"),
    url("./assets/fonts/Lexend-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lexend ExtraLight";
  font-style: normal;
  font-weight: 500;
  src: local("Lexend ExtraLight"),
    url("./assets/fonts/Lexend-ExtraLight.ttf") format("opentype");
}
