#debug-Background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.zUI-Container {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3%;
}

#zUI-Menu {
  top: 0;
  left: 0;
  max-height: 45.5%;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.25em;
  overflow: hidden;
  background: rgba(18, 18, 18, 0.5);
}

#zUI-BannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#zUI-MenuTitle {
  position: absolute;
  color: white;
  font-family: "LemonMilk Medium";
  font-size: 150%;
}

#zUI-MenuBanner {
  top: 0;
  width: 100%;
}

#zUI-MenuInformations {
  min-height: 4vh;
  max-height: 4vh;
  width: 100%;
  background: #121212;
  box-sizing: border-box;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#zUI-MenuSubTitle {
  color: white;
  font-family: "LemonMilk Regular";
}

#zUI-MenuIndexs {
  color: white;
  font-family: "LemonMilk Light";
}

#zUI-MenuItems {
  width: 100%;
  max-height: 20vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zUI-MenuItems::-webkit-scrollbar {
  display: none;
}

#zUI-ControlsIndicator {
  min-height: 4vh;
  max-height: 4vh;
  width: 100%;
  background: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#zUI-ControlsIcon {
  width: 3%;
}

#description {
  width: 100%;
  padding: 1vh 5% 1vh 5%;
  box-sizing: border-box;
  background-color: rgba(18, 18, 18, 0.5);
  color: white;
  font-family: "Lexend Light";
  font-size: 100%;
  border-radius: 0 0 1.5em 1.5em;
}

.zUI-ItemLeftZone {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5vw;
}

.zUI-ItemRightZone {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 0.5vw;
}

.zUI-LockedIcon {
  min-width: 4%;
  max-width: 4%;
}

.zUI-Badge {
  max-width: 2vw;
  margin: -5%;
}
