.zUI-ListCarousel {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}
.zUI-ListIcon {
  min-width: 0.5vw;
  max-width: 0.5vw;
}

.zUI-ListItem {
  color: white;
  font-family: "Lexend Regular";
}
