#zUI-Container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  perspective: 2000px;
  transform-style: preserve-3d;
}

#zUI-Container::-webkit-scrollbar {
  display: none;
}

#zUI-Menu {
  --maxWidth: 18.5vw;
  --itemHeight: 4vh;
  --maxItems: 10;
  overflow: hidden;
  position: absolute;
  min-width: var(--maxWidth);
  max-width: var(--maxWidth);
  max-height: 80vh;
  top: 1.5vh;
  left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zUI-Banner {
  max-width: var(--maxWidth);
  min-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zUI-BoldText {
  color: white;
  font-family: "Unigeo64-Bold";
  font-size: 1.5vw;
}

.zUI-MediumText {
  color: white;
  font-family: "Lexend-Medium";
  font-size: 1vw;
}

#zUI-Counter {
  color: white;
  font-family: "Apex";
  font-size: 1vw;
}

#zUI-BannerImage {
  width: var(--maxWidth);
}

#zUI-ControlsIndicator {
  width: var(--maxWidth);
  height: var(--itemHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#zUI-Informations {
  width: var(--maxWidth);
  height: var(--itemHeight);
  display: flex;
  padding: 0 1vw 0 1vw;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.zUI-Icon {
  width: 0.5vw;
}

#zUI-Items {
  width: var(--maxWidth);
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#zUI-Items::-webkit-scrollbar {
  display: none;
}

#description {
  width: var(--maxWidth);
  padding: 1vh 0.5vw 1vh 0.5vw;
  box-sizing: border-box;
  color: white;
  font-family: "Lexend-Light";
  font-size: 0.75vw;
}

#zUI-Sprite {
  max-width: var(--maxWidth);
}

.zUI-Arrow {
  max-width: 2vw;
  vertical-align: middle;
  margin: 0.5%;
}

.zUI-Arrow path {
  stroke: red !important;
}
