.separator-container {
  width: 100%;
  min-height: 4vh;
  max-height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.5);
}

.separator {
  color: white;
  font-size: 100%;
  font-family: "Lexend Regular";
}
