.zUI-Checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.15em solid white;
  border-radius: 0.25em;
  width: 1.5vh;
  height: 1.5vh;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.zUI-Checkbox:checked::after {
  content: "\2714"; /* Unicode for a checkmark */
  font-size: 0.75vh;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.zUI-Checkbox:checked::after {
  color: rgba(255, 255, 255, 1);
}

.zUI-Checkbox:disabled {
  background-color: rgba(100, 100, 100, 1);
  border: 0.15em solid rgb(50, 50, 50);
}
